.about-me-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;

}

.gymnastics-photo {
  width: 350px;
  height: 450px;
  border-radius: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8px solid #0C2340;
  object-fit: cover;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
