/* Ensure the body and html take up the full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Make the app header fixed to the top */
.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0C2340;
  padding: 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns content from left to right */
}

/* Style the navbar */
.navbar {
  display: flex;
  justify-content: flex-end; /* Keeps the links on the right */
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Adjust the 'Ty Friedman' text */
.App-header .brand {
  font-size: 22px; /* Slightly larger than the links */
  font-weight: bold;
  margin-left: 20px;
}

.App-header .brand a {
  color: white;
  text-decoration: none;
}

/* Adjust the content to avoid hiding behind the fixed navbar */
.App-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Take full viewport height */
  width: 100vw; /* Full width */
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Add a background image to the home page */
.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  align-items: center; /* Horizontally centered */
  justify-content: flex-start; /* Move content to the top */
  background-image: url('./assets/ndFog.png');
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent tiling */
  padding-top: 100px; /* Add some space from the top to avoid hiding behind the navbar */
}

/* Profile photo */
.profile-photo {
  width: 450px;
  height: 450px;
  border-radius: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8px solid #0C2340; /* Same as navbar color */
}

/* Social links */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 2px solid #0C2340; /* Same as navbar color */
  border-radius: 10px; /* Rounded edges */
  padding: 4px; /* Add some space inside the border */
  padding-left: 8px;
  padding-right: 8px;
  background-color: #0C2340;
}

.social-links a {
  color: white; 
  text-decoration: none;
  font-size: 20px;
}

.social-links a:hover {
  text-decoration: underline;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
