/* Ensure the body and html take up the full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Make the app header fixed to the top */
.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  padding: 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns content from left to right */
}

/* Style the navbar */
.navbar {
  display: flex;
  justify-content: flex-end; /* Keeps the links on the right */
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Adjust the 'Ty Friedman' text */
.App-header .brand {
  font-size: 22px; /* Slightly larger than the links */
  font-weight: bold;
  margin-left: 20px;
}

.App-header .brand a {
  color: white;
  text-decoration: none;
}

/* Adjust the content to avoid hiding behind the fixed navbar */
.App-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Take full viewport height */
  width: 100vw; /* Full width */
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
/* Modify the home page container */
.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center; /* Align to the top */
  justify-content: center; /* Keep items horizontally centered */
  height: 100%;
}

/* Profile photo */
.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #282c34; /* Same as navbar color */
}

/* Social links */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 2px solid #282c34; /* Same as navbar color */
  border-radius: 10px; /* Rounded edges */
  padding: 5px; /* Add some space inside the border */
}

.social-links a {
  color: #282c34; 
  text-decoration: none;
  font-size: 20px;
}

.social-links a:hover {
  text-decoration: underline;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
